html {
	height: 100%;
	width: 100%;
}


body {
	font-family:Verdana, Geneva, sans-serif;
	background: linear-gradient(to right, lightblue, rgb(153, 139, 141));
}

img {
	float:right;
}

